<div class="">
      {%- if card_collection.featured_image -%}
        <div class="md:h-[250px] md:w-[200px] h-[200px] w-[150px] overflow-hidden {% if card_collection.featured_image and media_aspect_ratio == 'rounded' %} rounded-[50%] {% elsif card_collection.featured_image and media_aspect_ratio == 'in-between' %} rounded-[15%] {% else %} {%-endif-%}  ">
            <img class="object-cover w-[100%] h-[100%] " src="{{ card_collection.featured_image | image_url: width: 1500 }}" loading="lazy" alt="img">
        </div>
      {%- endif -%}
      
          <h3 class="text-black text-xl ">
            <a href="{{ card_collection.url }}" class="flex justify-center items-center">
              {%- if card_collection.title != blank -%}
                {{- card_collection.title | escape -}}
              {%- else -%}
                {{ 'onboarding.collection_title' | t }}
              {%- endif -%}

            </a>
          </h3>
</div>
