
<section class="page-width" style="padding-top: {{ section.settings.padding_top }}px;  padding-bottom: {{ section.settings.padding_bottom }}px">
      {% unless section.settings.title == blank %}
        <div class="flex items-center justify-between mb-10">
        <h2 class="text-black font-bold sm:text-2xl text-base"> {{ section.settings.title | escape }}</h2>
        <a class="flex items-center md:text-base text-xs " href="{{ section.settings.all_categories_link }}">
         <h1 class="mr-2"> Browse all categories </h1>
          {% render 'icon-arrow', class: '' %}
        </a>
      </div>
      {% endunless %}

    <div class= "flex justify-center">
      <div class="scrollbar flex md:space-x-10 space-x-8 ">
    {%- for block in section.blocks -%}
              {% render 'card-collection', card_collection: block.settings.collection , media_aspect_ratio: section.settings.image_ratio, class: 'collection' %}
          {%- endfor -%}
          
        </div>
       
    </div>
</section>
{% schema %}
{
  "name": "collection list",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Shop by collection",
      "label": "Header"
    },
    {
      "type": "url",
      "id": "all_categories_link",
      "label": "All categories link"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "portrait",
          "label": "portrait"
        },
        {
          "value": "Square",
          "label": "Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "default": "Square",
      "label": "Image ratio"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "featured collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Featured collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "collection-list",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}